.values{
    font-weight: bold;
    font-size: 80px;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    text-decoration: none;
    width: max-content;
    vertical-align: middle;
    margin-bottom: 0px;
    display: inline-block;
}

.subtext{
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 0px;
    width:fit-content;
    text-align: justify;
}

h1{
    text-align: center;
}

.box{
    height: 440px;
    width: 600px;
    border-radius: 20px;
    background-color: #60a0a3;
    position: absolute;
    top: 150px;
    left: 400px;
    
}

.shadowbox{
    background-color: black;
    opacity: 0.4 ;
    position: absolute;
    height: 440px;
    width: 600px;
    top: 160px;
    left: 410px;
    border-radius: 20px;
}

body{
    background-color:antiquewhite;
}