<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="home.css" type="text/css">
<body>
    <h1>Restaurant Management System</h1>
        <div class="shadowbox"></div>
        <div class="box">
            <table style="width: max-content;">
                <tr><td colspan="2" style="padding-bottom: 120px; padding-top: 40px; padding-left: 230px;">
                    <a href="employees.html" class="values" id="emp"><%=emp%></a>
                    <p class="subtext">Employees</p>
                </td></tr>
                <tr>
                    <td style="padding-right: 160px; padding-left: 80px;">
                        <a href="menu.html" class="values" id="menu"><%=menu%></a>
                        <p class="subtext">Items in Menu</p>
                    </td>
                    <td>
                        <a href="suppliers.html" class="values" id="supp"><%=supp%></a>
                        <p class="subtext">Suppliers</p>
                    </td>
                </tr>
            </table>
        </div>
        
        <script src="home.js"></script>
</body>
</html>