<!DOCTYPE html>
    <head><title>Login</title></head>
    <link href="login.css" rel="stylesheet">
    <body >
        <div id="shadowbox"></div>
        <div id="box">
        <div id="login">
            <label>Username: </label>
            <input type="text" id="user"><br><br>
            <label>Password: </label>
            <input type="password"
                id="pass"
                inputmode="latin"><br>
            <label id="error" style="color: red; visibility: hidden;">Incorrect Username or Password.</label><br>
            <button type="submit" id="submit">Login</button>
        </div>
        </div>
        <script src="login.js"></script>
    </body>

</html>